{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accés Refusé</h1>

    <p>
        Vous ne possédez pas les droits pour accéder à cette page
        <a href="{{ path('accueil') }}">Retourner à l'accueil</a>.
    </p>
{% endblock %}